/* BODY */
body{
    margin: 0;
    padding: 0;
}
/* HEADER */
.header-main {
    background-color: #dac588;
}

.header-title:hover{
    color: rgb(247, 247, 247);
    transition: color 0.3s ease-in-out; /* Transición suave de color durante 0.3 segundos */

}

/* SIDEBAR*/

.nav-link,a{
    color: rgb(39, 39, 39);
}

.nav-link:hover {
    color: #dac588;
}

li {
    list-style-type: none;
    /* Quitamos los índices de las listas */
}