/* BODY */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Establece la altura mínima del cuerpo al 100% del viewport height */
}

/* HEADER */
header {
    background-color: #dac588;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: row;
}

.header-title {
    transition: background-color 1.5s, color 1.5s ease-in-out;
}

.header-title:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(247, 247, 247);
}

.header-title h1 a {
    transition: color 1.5s ease-in-out;
    color: inherit; /* Hereda el color del contenedor principal */
}

.header-title:hover h1 a {
    color: rgb(247, 247, 247);
}

.img-logo {
    width: 50px;
    height: auto;
}

/* SIDEBAR*/
aside {
    flex: 1;
    min-height: 80vh;
}

.nav-link,
a {
    color: rgb(39, 39, 39);
}

.nav-link:hover {
    color: #dac588;
}

li {
    list-style-type: none;
    /* Quitamos los índices de las listas */
}

/* MAIN */
main {
    flex: 1;
    /* Permite que el contenido principal ocupe el espacio restante */
}

/* FOOTER */
footer {
    background-color: #dac588;
    color: rgb(39, 39, 39);
    margin: 0
}

.footer-title {
    transition: background-color 1.5s, color 1.5s ease-in-out;
}

.footer-title:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(247, 247, 247);
}